*
{
    font-family:lucida;
}
body
{
    background-color:dimgray;
}
.cabecalho
{
    width: 1920px;
    height: 500px;
    background-color: dimgray;
    padding: 10px;
}
.logo
{
    margin-left: 245px;
    width: 300px;
    height: 180px;
    background-image: url(img/logo-placeholder.png);
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}
.banner
{
    height: 180px;
    width: 1100px;
    background-color: aquamarine;
    float: left;
}
.propaganda
{
    height: 210px;
    width: 1366px;
    background-color: blueviolet;
    margin-top: 240px;
    margin-left: 280px;
}
.Quadrado
{
    border-radius: 5px;
    height: 75px;
    width: 200px;
    background-color: black;
    margin-top: 55px;
    margin-left: 5px;
    float: left;
    text-align: center;
}
.Quadradinho
{
    border-radius: 5px;
    width: 75px;
    height: 75px;
    background-color: darksalmon;
    float: right;
    margin-right: 30px;
    margin-top: 55px;
}
.BackgroundConteudo
{
    width:1366px ;
    height:290px ;
    background-color: cadetblue;
    margin-left: 290px;
    padding-top: 10px;
}
.Conteudo
{
    margin-left: 10px;
    width: 840px;
    height: 280px;
    background-color: lawngreen;
    text-align: justify;
    float: left;
}
.ImagemConteudo
{
    margin-left: 860px;
    height: 280px;
    width: 500px;
    background-color: darkorange;
}